In [2]:
import numpy as np
import pandas as pd
import seaborn as sns
import seaborn.objects as so

In [47]:
# Cargamos el archivo
data_sube = pd.read_csv("./sube-2023.csv")

In [46]:
# Paso a formato dia
data_sube['DIA_TRANSPORTE'] = pd.to_datetime(data_sube['DIA_TRANSPORTE'], format="%Y-%m-%d")

# Dias de la semana
data_sube['FECHA_DIA'] = data_sube['DIA_TRANSPORTE'].dt.dayofweek
week_days = ['Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado', 'Domingo']
data_sube['FECHA_DIA'] = data_sube['FECHA_DIA'].apply(lambda x: week_days[x])

# numero de mes
data_sube['MES'] = data_sube['DIA_TRANSPORTE'].dt.month

# orden del dia (fecha ordinal)
data_sube['FECHA_ORDINAL'] = data_sube['DIA_TRANSPORTE'].dt.day_of_year

In [45]:
# DIA_TRANSPORTE tiene que ser tipo datetime
assert data_sube['DIA_TRANSPORTE'].dtype == 'datetime64[ns]'

# Dias de la semana
assert data_sube['FECHA_DIA'].drop_duplicates().count() == 7 # Tienen que ser 7 dias distintos
assert data_sube['FECHA_DIA'].isin(week_days).all() # Tienen que ser los del arreglo

# Tiene que haber 365 dias distintos en el a√±o
assert data_sube['FECHA_ORDINAL'].drop_duplicates().count() == 365

In [14]:
datos_amba = data_sube[data_sube['PROVINCIA'] == 'BUENOS AIRES']
datos_amba = datos_amba.rename(lambda x: x.lower(), axis=1) # axis 1 para apuntarle a las columnas
datos_amba = datos_amba[['dia_transporte', 'fecha_dia', 'mes', 'jurisdiccion', 'linea', 'cantidad', 'tipo_transporte']]
datos_amba = datos_amba.rename(columns={
    "cantidad": "pasajeros"
})
datos_amba["mes"] = datos_amba['mes'].apply(lambda n : "0"+str(n) if n < 10 else str(n))
datos_amba.head()

,dia_transporte,fecha_dia,mes,jurisdiccion,linea,pasajeros,tipo_transporte
0,2023-01-01,Domingo,01,MUNICIPAL,1,61,COLECTIVO
1,2023-01-01,Domingo,01,MUNICIPAL,2B,11,COLECTIVO
2,2023-01-01,Domingo,01,MUNICIPAL,BS_AS_LINEA 715M,1707,COLECTIVO
3,2023-01-01,Domingo,01,PROVINCIAL,BS_AS_LINEA_326,438,COLECTIVO
4,2023-01-01,Domingo,01,MUNICIPAL,BS_AS_LINEA_512,1189,COLECTIVO

In [132]:
so.Plot(datos_amba, x="mes", y='pasajeros').add(so.Bars(), so.Agg('sum')).facet('tipo_transporte')
colectivos = datos_amba[datos_amba['tipo_transporte'] == 'COLECTIVO']
colectivos = colectivos['pasajeros'].sum()
colectivos

1730129133